swagger: '2.0'
info:
  version: '2.0'
  title: eformsign
  description: eformsign이 제공하는 API를 통해 eformsign의 기능을 고객의 시스템/서비스에서 호출해 사용할 수 있습니다.
  contact:
    email: eformsign@forcs.com
    name: eformsign Service Team
    url: www.eformsign.com
host: api.eformsign.com
basePath: /v2.0
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /api_auth/access_token:
    post:
      description: API 키로 Access Token을 발급받을 수 있습니다.
      summary: post-api_auth-access_token
      tags:
      - eformsign
      operationId: post-api_auth-access_token
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
        description: application/json
      - name: eformsign_signature
        in: header
        required: true
        type: string
        description: execution_time 값을 private Key로 서명한 값
      - name: Authorization
        in: header
        required: false
        type: string
        description: Bearer <api key>
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ApiAuthAccessTokenRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiAuthAccessTokenResponse'
          examples:
            application/json:
              api_key:
                name: access key
                alias: access Key alias
                company:
                  company_id: 129jd93j29jd9j29jd
                  name: Forcs
                  api_url: https://kr-api.eformsign.com
              oauth_token:
                token_type: JWT
                access_token: eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJZCI6IjE5MzEyYWI2NWQxMT...
                refresh_token: dcaf137b-e93e-4207-ba8a-2dd5a1250c45
                expires_in: 3600
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiAuthAccessToken403Error'
          examples:
            application/json:
              code: 4000002
              ErrorMessage: The validation time has expired.
              execution_time: 1600247345051
  /api_auth/refresh_token:
    post:
      description: Access Token을 갱신할 수 있습니다.
      summary: post-api_auth-refresh_token
      tags:
      - eformsign
      operationId: post-api_auth-refresh_token
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
        description: application/json
      - name: Authorization
        in: header
        required: true
        type: string
        description: Bearer <access_token>
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ApiAuthRefreshTokenRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiAuthRefreshTokenResponse'
          examples:
            application/json:
              oauth_token:
                token_type: JWT
                access_token: eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJZCI6IjE5MzEyYWI2NWQxMTQ4NjY4ZDJiNjFjYjZjYzUwNTBmIiwiY2x-PtUZnqHGtUHKCkKelu5JN2PSSv6ZI8 ... UxeMTmjx_97ip2bragIfPaOd70V1qHY1SP_IFTLLlnzd_PUIwiPS0
                refresh_token: 03a54d50-f0a2-4db6-9f1a-02b3e6d9a68f
                expires_in: 3600
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiDocumentsDownloadAttachFiles403Error'
          examples:
            application/json:
              code: 4030001
              ErrorMessage: invalid api key
  /api/documents:
    post:
      description: >-
        내부 수신자가 Access Token을 이용하여 자동으로 문서를 작성할 수 있습니다.


        도메인에는 Access Token을 발급 받은 company.api_url 값을 사용합니다.
      summary: post-api-documents
      tags:
      - eformsign
      operationId: post-api-documents
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
        description: application/json
      - name: Authorization
        in: header
        required: true
        type: string
        description: Bearer <access_token>
      - name: template_id
        in: query
        required: true
        type: string
        description: 문서 작성에 사용할 템플릿의 ID를 찾아 추가하세요.
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ApiDocumentsRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiDocumentsResponse'
          examples:
            application/json:
              template_id: 61b05d369b2a4a10b5c4c8a1373abc0d
              document:
                id: 61b05d369b2a4a10b5c4c8a1373abc03
                document_name: 개인정보제공동의서
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiDocumentsDownloadAttachFiles403Error'
          examples:
            application/json:
              code: 4030001
              ErrorMessage: invalid api key
  /api/documents/external:
    post:
      description: 외부 수신자가 API 키를 이용하여 자동으로 문서를 작성할 수 있습니다.
      summary: post-api-documents-external
      tags:
      - eformsign
      operationId: post-api-documents-external
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: true
        type: string
        description: application/json
      - name: Authorization
        in: header
        required: true
        type: string
        description: Bearer <api_key>
      - name: company_id
        in: query
        required: true
        type: string
        description: 회사의 ID를 추가하세요.
      - name: template_id
        in: query
        required: true
        type: string
        description: 문서 작성에 사용할 템플릿의 ID를 찾아 추가하세요.
      - name: body
        in: body
        required: false
        description: ''
        schema:
          $ref: '#/definitions/ApiDocumentsExternalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiDocumentsExternalResponse'
          examples:
            application/json:
              template_id: 61b05d369b2a4a10b5c4c8a1373abc0d
              document:
                id: 61b05d369b2a4a10b5c4c8a1373abc03
                document_name: 개인정보제공동의서
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiDocumentsDownloadAttachFiles403Error'
          examples:
            application/json:
              code: 4030001
              ErrorMessage: invalid api key
  /api/documents/{DOCUMENT_ID}:
    get:
      description: >-
        (이슈: 성공시 Response 예제 추가 못함. step_recipients 프로퍼티 타입이  Ojbect여야 한다는 에러 발생)


        문서의 일반정보, 상세정보, 이력, 진행상황 등을 조회합니다.


        도메인에는 Access Token을 발급 받은 company.api_url 값을 사용합니다.


        *참고: http://wiki.oz4cs.com/display/eformsignapi/2.2.3+Open+API
      summary: get-api-documents-DOCUMENT_ID
      tags:
      - eformsign
      operationId: get-api-documents-DOCUMENT_ID
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: DOCUMENT_ID
        in: path
        required: true
        type: string
        description: ''
      - name: Content-Type
        in: header
        required: true
        type: string
        description: application/json
      - name: Authorization
        in: header
        required: true
        type: string
        description: Bearer <access_token>
      - name: include_fields
        in: query
        required: false
        type: boolean
        description: default는 false. 필요시 true로 요청한다.
      - name: include_histories
        in: query
        required: false
        type: boolean
        description: default는 false. 필요시 true로 요청한다.
      - name: include_previous_status
        in: query
        required: false
        type: boolean
        description: default는 false. 필요시 true로 요청한다.
      - name: include_next_status
        in: query
        required: false
        type: boolean
        description: default는 false. 필요시 true로 요청한다.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiDocumentsResponse1'
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiDocumentsDownloadAttachFiles403Error'
          examples:
            application/json:
              code: 4030001
              ErrorMessage: invalid api key
  /api/documents/{DOCUMENT_ID}/download_files:
    get:
      description: 문서 PDF, 감사추적증명서 등 문서 파일을 다운로드합니다.
      summary: get-api-documents-DOCUMENT_ID-download_files
      tags:
      - eformsign
      operationId: get-api-documents-DOCUMENT_ID-download_files
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: DOCUMENT_ID
        in: path
        required: true
        type: string
        description: ''
      - name: Authorization
        in: header
        required: true
        type: string
        description: Bearer <access_token>
      - name: file_type
        in: query
        required: true
        type: string
        description: 다운로드 받을 파일 타입으로, 구분자로 document 또는 audit_trail을 둘 다 사용 가능하다.
      responses:
        200:
          description: OK
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiDocumentsDownloadAttachFiles403Error'
          examples:
            application/json:
              code: 4030001
              ErrorMessage: invalid api key
  /api/documents/{DOCUMENT_ID}/download_attach_files:
    get:
      description: 문서에 첨부된 파일을 다운로드합니다.
      summary: get-api-documents-DOCUMENT_ID-download_attach_files
      tags:
      - eformsign
      operationId: get-api-documents-DOCUMENT_ID-download_attach_files
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: DOCUMENT_ID
        in: path
        required: true
        type: string
        description: ''
      - name: Authorization
        in: header
        required: true
        type: string
        description: Bearer <access_token>
      responses:
        200:
          description: OK
          headers: {}
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ApiDocumentsDownloadAttachFiles403Error'
          examples:
            application/json:
              code: string
              ErrorMessage: string
definitions:
  ApiAuthAccessTokenRequest:
    title: ApiAuthAccessTokenRequest
    type: object
    properties:
      execution_time:
        description: API 호출 시간(현재 시간)으로, 서버시간의 +/- 30초 내에서만 호출이 유효하다.
        type: integer
        format: int64
      member_id:
        description: 회사 멤버의 ID로, 회사 멤버의 Access token을 발급받을 때 추가로 입력한다.
        type: string
    required:
    - execution_time
  ApiAuthAccessTokenResponse:
    title: ApiAuthAccessTokenResponse
    type: object
    properties:
      api_key:
        $ref: '#/definitions/ApiKey'
      oauth_token:
        $ref: '#/definitions/OauthToken'
  ApiKey:
    title: ApiKey
    description: API Key 정보로, name, alias, company등의 객체를 포함한다.
    type: object
    properties:
      name:
        description: API Key 이름
        type: string
      alias:
        description: API Key 별칭
        type: string
      company:
        $ref: '#/definitions/Company'
  Company:
    title: Company
    description: API Key의 회사 정보로, id, name, api_url 객체를 포함한다.
    type: object
    properties:
      id:
        description: 회사 ID
        type: string
      name:
        description: 회사명
        type: string
      api_url:
        description: 회사의 서비스 API URL
        type: string
  OauthToken:
    title: OauthToken
    description: 토큰 정보로, token_type, access_token, refresh_token, expires_in 객체를 포함한다.
    type: object
    properties:
      token_type:
        description: 토큰 타입(JWT 고정)
        type: string
      access_token:
        description: access token
        type: string
      refresh_token:
        description: refresh token
        type: string
      expires_in:
        description: Access token 유효시간(초)으로, Access token 발급 시점부터 expires_in 시간까지만 유효하다.
        type: integer
        format: int32
  ApiAuthAccessToken403Error:
    title: ApiAuthAccessToken403Error
    type: object
    properties:
      code:
        description: 에러 코드
        type: string
      ErrorMessage:
        description: 에러 메시지
        type: string
      execution_time:
        description: 수행 시간
        type: integer
        format: int64
  ApiAuthRefreshTokenRequest:
    title: ApiAuthRefreshTokenRequest
    type: object
    properties:
      refresh_token:
        description: Access Token 갱신을 위한 Refresh Token
        type: string
    required:
    - refresh_token
  ApiAuthRefreshTokenResponse:
    title: ApiAuthRefreshTokenResponse
    type: object
    properties:
      oauth_token:
        $ref: '#/definitions/OauthToken1'
  OauthToken1:
    title: OauthToken1
    description: 토큰 정보로 토큰 객체(token_type, access_token, refresh_token, expires_in)를 포함한다.
    type: object
    properties:
      token_type:
        description: 토큰 타입(JWT 고정)
        type: string
      access_token:
        description: Access Token
        type: string
      refresh_token:
        description: Refresh Token
        type: string
      expires_in:
        description: Access token의 유효시간(초)으로, Access token 발급 시점부터 expires_in 시간 까지만 유효하다.
        type: integer
        format: int32
  ApiDocumentsRequest:
    title: ApiDocumentsRequest
    type: object
    properties:
      document:
        $ref: '#/definitions/Document'
    required:
    - document
  Document:
    title: Document
    type: object
    properties:
      document_name:
        description: 문서 제목으로 값이 없으면 template에서 설정된 이름으로 설정한다.
        type: string
      comment:
        description: 단계 요청 시의 comment로 수신자로 설정한 각 단계의 Comment를 설정
        type: string
      receipients:
        description: 다음 단계 리스트로 step 객체의 Array(step_type, id, name 등)를 포함한다. 값이 없으면 문서를 임시 저장한다.
        type: array
        items:
          $ref: '#/definitions/Receipient'
      fields:
        description: 문서 내 컴포넌트에 작성할 데이터 리스트
        type: array
        items:
          $ref: '#/definitions/Field'
      select_group_name:
        description: 그룹 이름으로, 설정하면 템플릿의 필드 설정에서 입력필드 기본값에 그룹 정보가 설정되고, 문서 작성자가 2개 이상의 그룹에 속한 경우 필수 지정해야 한다. 소속 그룹이 없거나 1개인 경우 무시된다.
        type: string
      send_external_pdf:
        $ref: '#/definitions/SendExternalPdf'
      notification:
        description: 완료 문서 전송 정보
        type: array
        items:
          $ref: '#/definitions/Notification'
  Receipient:
    title: Receipient
    type: object
    properties:
      step_type:
        description: 워크플로우 단계 타입으로 "01"(완료), "02"(결재), "03"(외부 수신자), "04"(내부 수신자)를 의미한다. receipients 내 각 객체에 필수 설정되어 있어야 한다.
        type: string
      id:
        description: "단계 처리자 ID이다. \n\n1) step_type이 결재자일 경우, 필수 설정해야 한다.\n\n2) step_type이 내부수신자이고, 그룹 또는 멤버 중 하나를 선택하여 전송 옵션이 활성화된 경우 필수 설정해야 한다.\n\n단계 처리자를 그룹으로 설정하려면 그룹의 이름 또는 ID를 입력한다."
        type: string
      name:
        description: 단계 처리자 이름으로, step_type이 외부 수신자일 경우 필수 설정해야 한다.
        type: string
      email:
        description: 단계 처리자 이메일로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.
        type: string
      sms:
        $ref: '#/definitions/Sms'
      auth:
        $ref: '#/definitions/Auth'
  Sms:
    title: Sms
    description: 단계 처리자 휴대폰 정보로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.
    type: object
    properties:
      country_code:
        description: 단계 처리자 휴대폰 국가 코드로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.
        type: string
      phone_number:
        description: 단계 처리자 휴대폰 번호로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.
        type: string
  Auth:
    title: Auth
    description: >-
      외부 수신자 인증 정보로, step_type이 외부수신자일 경우,

      템플릿의 외부수신자 비밀번호 설정에 따라 필수 설정해야 .
    type: object
    properties:
      password:
        description: 외부 수신자 단계 인증 비밀번호로, step_type이 외부수신자일 경우, 템플릿의 외부수신자 비밀번호 설정에 따라 필수 설정해야 한다.
        type: string
      password_hint:
        description: 외부 수신자 단계 인증 비밀번호 힌트
        type: string
      valid:
        $ref: '#/definitions/Valid'
  Valid:
    title: Valid
    description: 외부 수신자 단계 문서 전송 기한
    type: object
    properties:
      day:
        description: 외부 수신자 단계 문서 전송 날짜
        type: integer
        format: int32
      hour:
        description: 외부 수신자 단계 문서 전송 시간
        type: integer
        format: int32
  Field:
    title: Field
    type: object
    properties:
      id:
        description: 문서 내 컴포넌트의 form ID
        type: string
      value:
        description: >-
          문서 내 컴포넌트에 작성할 데이터이다.


          컴포넌트의 타입이 DatePicker일 경우, 회사 언어에 따라 하단의 지정 형식을 맞춰 입력해야 .


          회사 언어가 영어: MM/dd/yyyy


          그 외: yyyy-MM-dd
        type: string
  SendExternalPdf:
    title: SendExternalPdf
    description: "외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 정보이다. \n\n다음 조건에 모두 해당하는 경우에는 필수 설정해야 한다.\n\n1) 템플릿의 시작 단계에 \"URL로 문서 생성 허용\" 옵션 활성화\n\n2) Open API로 작성할 때 토큰에 사용자 정보가 없음(외부자 작성)\n\n3) 알림 설정의 상태 알림 설정 > 문서 최종 완료 알림 > 외부 > 최초 작성자 체크"
    type: object
    properties:
      email:
        description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 이메일
        type: string
      sms:
        $ref: '#/definitions/Sms1'
  Sms1:
    title: Sms1
    description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 휴대폰 정보
    type: object
    properties:
      country_code:
        description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 휴대폰 국가 코드
        type: string
      phone_number:
        description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 휴대폰 번호
        type: string
      auth:
        $ref: '#/definitions/Auth1'
  Auth1:
    title: Auth1
    description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림 인증 정보
    type: object
    properties:
      password:
        description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림 인증 비밀번호
        type: string
      password_hint:
        description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림 인증 비밀번호 힌트
        type: string
  Notification:
    title: Notification
    type: object
    properties:
      name:
        description: 완료 문서 전송을 보낼 사람의 이름
        type: string
      email:
        description: 완료 문서 전송을 보낼 사람의 이메일
        type: string
      sms:
        $ref: '#/definitions/Sms2'
      auth:
        $ref: '#/definitions/Auth2'
  Sms2:
    title: Sms2
    description: 완료 문서 전송을 보낼 사람의 휴대폰 정보
    type: object
    properties:
      country_code:
        description: 완료 문서 전송을 보낼 사람의 휴대폰 국가 코드
        type: string
      phone_number:
        description: 완료 문서 전송을 보낼 사람의 휴대폰 번호
        type: string
  Auth2:
    title: Auth2
    description: 완료 문서의 인증 정보
    type: object
    properties:
      password:
        description: 완료 문서의 인증 비밀번호
        type: string
      password_hint:
        description: 완료 문서의 인증 비밀번호 힌트
        type: string
      mobile_varification:
        description: 완료 문서의 휴대폰 본인확인 여부
        type: boolean
      valid:
        $ref: '#/definitions/Valid1'
  Valid1:
    title: Valid1
    description: 완료 문서의 전송 기한
    type: object
    properties:
      day:
        description: 완료 문서의 전송 날짜
        type: integer
        format: int32
      hour:
        description: 완료 문서의 전송 시간
        type: integer
        format: int32
  ApiDocumentsResponse:
    title: ApiDocumentsResponse
    type: object
    properties:
      template_id:
        type: string
      document:
        $ref: '#/definitions/Document1'
  Document1:
    title: Document1
    type: object
    properties:
      id:
        type: string
      document_name:
        type: string
  ApiDocumentsExternalRequest:
    title: ApiDocumentsExternalRequest
    type: object
    properties:
      document:
        $ref: '#/definitions/Document2'
    required:
    - document
  Document2:
    title: Document2
    description: 문서 정보
    type: object
    properties:
      document_name:
        description: 문서 제목으로 값이 없으면 template에서 설정된 이름으로 설정한다.
        type: string
      comment:
        description: 단계 요청 시의 comment로 수신자로 설정한 각 단계의 Comment를 설정
        type: string
      receipients:
        description: 다음 단계 리스트로 step 객체의 Array(step_type, id, name 등)를 포함한다. 값이 없으면 문서를 임시 저장한다.
        type: array
        items:
          $ref: '#/definitions/Receipient1'
      fields:
        description: 문서 내 컴포넌트에 작성할 데이터 리스트
        type: array
        items:
          $ref: '#/definitions/Field'
      select_group_name:
        description: 그룹 이름으로, 설정하면 템플릿의 필드 설정에서 입력필드 기본값에 그룹 정보가 설정되고, 문서 작성자가 2개 이상의 그룹에 속한 경우 필수 지정해야 한다. 소속 그룹이 없거나 1개인 경우 무시된다.
        type: string
      send_external_pdf:
        $ref: '#/definitions/SendExternalPdf'
      notification:
        description: 완료 문서 전송 정보
        type: array
        items:
          $ref: '#/definitions/Notification'
  Receipient1:
    title: Receipient1
    type: object
    properties:
      step_type:
        description: 워크플로우 단계 타입으로 "01"(완료), "02"(결재), "03"(외부 수신자), "04"(내부 수신자)를 의미한다. receipients 내 각 객체에 필수 설정되어 있어야 한다.
        type: string
      id:
        description: "단계 처리자 ID이다. \n\n1) step_type이 결재자일 경우, 필수 설정해야 한다.\n\n2) step_type이 내부수신자이고, 그룹 또는 멤버 중 하나를 선택하여 전송 옵션이 활성화된 경우 필수 설정해야 한다.\n\n단계 처리자를 그룹으로 설정하려면 그룹의 이름 또는 ID를 입력한다."
        type: string
      name:
        description: 단계 처리자 이름으로, step_type이 외부 수신자일 경우 필수 설정해야 한다.
        type: string
      email:
        description: 단계 처리자 이메일로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.
        type: string
      sms:
        $ref: '#/definitions/Sms'
      auth:
        $ref: '#/definitions/Auth3'
  Auth3:
    title: Auth3
    description: >-
      외부 수신자 인증 정보로, step_type이 외부수신자일 경우,

      템플릿의 외부수신자 비밀번호 설정에 따라 필수 설정해야 한다.
    type: object
    properties:
      password:
        description: 외부 수신자 단계 인증 비밀번호로, step_type이 외부수신자일 경우, 템플릿의 외부수신자 비밀번호 설정에 따라 필수 설정해야 한다.
        type: string
      password_hint:
        description: 외부 수신자 단계 인증 비밀번호 힌트
        type: string
      valid:
        $ref: '#/definitions/Valid'
  ApiDocumentsExternalResponse:
    title: ApiDocumentsExternalResponse
    type: object
    properties:
      template_id:
        type: string
      document:
        $ref: '#/definitions/Document1'
  ApiDocumentsResponse1:
    title: ApiDocumentsResponse1
    type: object
    properties:
      id:
        description: 문서 id
        type: string
      template:
        $ref: '#/definitions/Template'
      document_name:
        description: 문서 제목
        type: string
      document_number:
        description: 문서 번호
        type: string
      creator:
        $ref: '#/definitions/Creator'
      created_date:
        description: 생성일
        type: integer
        format: int64
      last_editor:
        $ref: '#/definitions/LastEditor'
      updated_date:
        description: 문서 수정일
        type: integer
        format: int64
      current_status:
        $ref: '#/definitions/CurrentStatus'
      step_type:
        description: 스탭 타입
        type: string
      step_index:
        description: 스탭 index
        type: number
        format: double
      step_name:
        description: 스탭 명
        type: string
      step_recipients:
        description: 수신자들 정보
        type: array
        items:
          $ref: '#/definitions/StepRecipient'
      fields:
        type: array
        items:
          $ref: '#/definitions/Field2'
      previous_status:
        description: 이전 상태 정보
        type: array
        items:
          $ref: '#/definitions/PreviousStatus'
      next_status:
        description: 다음 상태 정보
        type: array
        items:
          $ref: '#/definitions/NextStatus'
      histories:
        description: 히스토리 정보
        type: array
        items:
          $ref: '#/definitions/History'
  Template:
    title: Template
    description: 템플릿 정보
    type: object
    properties:
      id:
        description: 템플릿 id
        type: string
      name:
        description: 템플릿 명
        type: string
  Creator:
    title: Creator
    description: 문서 생성자 정보(id, name 포함)
    type: object
    properties:
      id:
        description: 문서 생성자 id
        type: string
      name:
        description: 생성자 명
        type: string
      recipient_type:
        description: 수신자 타입
        type: string
  LastEditor:
    title: LastEditor
    description: 문서 수정자 정보(id, name 포함)
    type: object
    properties:
      id:
        description: 수정자 id
        type: string
      name:
        description: 수정자 명
        type: string
      recipient_type:
        description: 수신자 타입
        type: string
  CurrentStatus:
    title: CurrentStatus
    description: 현재 상태 정보
    type: object
    properties:
      status_type:
        description: 상태 타입
        type: string
  StepRecipient:
    title: StepRecipient
    type: object
    properties:
      recipient_type:
        description: 수신자 타입
        type: string
      id:
        description: 수신자 id
        type: string
      name:
        description: 수신자 명
        type: string
  Field2:
    title: Field2
    type: object
    properties:
      id:
        description: 필드 id
        type: string
      value:
        description: 필드 값
        type: string
      type:
        description: 필드의 데이터 타입
        type: string
  PreviousStatus:
    title: PreviousStatus
    type: object
    properties:
      step_type:
        description: 스탭 ㅌ
        type: string
      step_name:
        description: 스탭 명
        type: string
      action_type:
        description: 액션 타입
        type: string
      executor:
        $ref: '#/definitions/Executor'
      executed_date:
        description: 수행 날짜
        type: integer
        format: int64
  Executor:
    title: Executor
    description: 수행자 정보
    type: object
    properties:
      recipient_type:
        description: 수행자 타입
        type: string
      id:
        description: 수행자 id
        type: string
      name:
        description: 수행자 이름
        type: string
  NextStatus:
    title: NextStatus
    type: object
    properties:
      step_type:
        description: 스탭 타입
        type: string
      step_name:
        description: 스탭 명
        type: string
      step_recipients:
        $ref: '#/definitions/StepRecipients'
  StepRecipients:
    title: StepRecipients
    description: 수신자들 정보
    type: object
    properties:
      recipient_type:
        description: 수신자 타입
        type: string
      id:
        description: 수신자 id
        type: string
      name:
        description: 수신자 이름
        type: string
  History:
    title: History
    type: object
    properties:
      step_type:
        description: 스탭 타입
        type: string
      action_type:
        description: 액션 타입
        type: string
      executor:
        $ref: '#/definitions/Executor1'
      executed_date:
        description: 수행 날짜
        type: integer
        format: int64
  Executor1:
    title: Executor1
    description: 수행자 정보
    type: object
    properties:
      recipient_type:
        description: 수행자 타입
        type: string
      id:
        type: string
      name:
        description: 수행자 이름
        type: string
  ApiDocumentsDownloadAttachFiles403Error:
    title: ApiDocumentsDownloadAttachFiles403Error
    type: object
    properties:
      code:
        description: 에러 코드
        type: string
      ErrorMessage:
        description: 에러 메시지
        type: string
tags:
- name: eformsign